### **Google Colab Setup**
**Mount your Google Drive**

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
import os

# TODO: Fill in the Google Drive path where you uploaded the dataset
GOOGLE_DRIVE_PATH_AFTER_MYDRIVE = 'sample_dataset/titanic.csv'
GOOGLE_DRIVE_PATH = os.path.join('/content/drive/My Drive', GOOGLE_DRIVE_PATH_AFTER_MYDRIVE)
print(GOOGLE_DRIVE_PATH)

/content/drive/My Drive/sample_dataset/titanic.csv

## **Pandas**

![image.png]()

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [4]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [5]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [7]:
df["Age"].max()

58

The describe() method provides a quick overview of the **numerical data** in a DataFrame

In [8]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

When displaying a DataFrame, the first and last 5 rows will be shown by default

In [24]:
titanic = pd.read_csv(GOOGLE_DRIVE_PATH)

In [25]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [26]:
titanic.head(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [27]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [28]:
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

**select a subset of table**

In [31]:
ages = titanic["Age"]
ages

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [32]:
titanic["Age"].shape

(891,)

In [34]:
name_age = titanic[["Name", "Age"]]
name_age

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [35]:
above_35 = name_age[name_age["Age"] > 35]
above_35

                                                  Name   Age
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
6                              McCarthy, Mr. Timothy J  54.0
11                            Bonnell, Miss. Elizabeth  58.0
13                         Andersson, Mr. Anders Johan  39.0
15                    Hewlett, Mrs. (Mary D Kingcome)   55.0
..                                                 ...   ...
865                           Bystrom, Mrs. (Karolina)  42.0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0
873                        Vander Cruyssen, Mr. Victor  47.0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0
885               Rice, Mrs. William (Margaret Norton)  39.0

[217 rows x 2 columns]

In [36]:
above_35.shape

(217, 2)

# **Plotting with matplotlib**

In [37]:
import matplotlib.pyplot as plt

**Plotting Line Plots**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

data = {'Year': [2000, 2001, 2002, 2003],'Unemployment Rate': [4.0, 4.7, 5.8, 6.0]}
df = pd.DataFrame(data)

# Plotting a line chart
df.plot(x='Year', y='Unemployment Rate', kind='line')
plt.show()

In [ ]:
import pandas as pd

data_dict = {'name': ['p1', 'p2', 'p3', 'p4', 'p5', 'p6'],'age': [20, 20, 21, 20, 21, 20],'math_marks': [100, 90, 91, 98, 92, 95], 'physics_marks': [90, 100, 91, 92, 98, 95],'chem_marks': [93, 89, 99, 92, 94, 92]}
df = pd.DataFrame(data_dict)
df.head()

**Scatter Plots**

In [ ]:
# Scatter plot using pandas
ax = df.plot(kind='scatter', x='math_marks', y='physics_marks', color='red', title='ScatterPlot')

# Customizing plot elements
ax.set_xlabel("Math Marks")
ax.set_ylabel("Physics Marks")

**Bar Charts**

In [ ]:
ax = df.plot(kind='bar',
             x='name',
             y='physics_marks',
             color='purple',
             title='BarPlot')

# Customize axis labels (optional, but can be added via 'ax' for more control)
ax.set_xlabel('Name')
ax.set_ylabel('Physics Marks')

In [ ]:
# Plot multiple line plots using only pandas
df.plot(x='name', y=['math_marks', 'physics_marks', 'chem_marks'],
        kind='line',
        title='Line Plots of Marks in Different Subjects')

**Pie charts**

In [ ]:
# Pie chart of math_marks (you can choose another subject like physics_marks or chem_marks)
df['math_marks'].plot(kind='pie', autopct='%1.1f%%', labels=df['name'], title='Math Marks Distribution')